@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-light: #1E4E79;
  --color-primary-dark: #122A45;
  --color-accent-light: #E53935;
  --color-accent-dark: #C62828;
  --color-background-light: #FFFFFF;
  --color-background-dark: #121212;
  --color-secondary-light: #3B87C1;
  --color-secondary-dark: #246791;
  --color-neutral-light: #E5E5E5;
  --color-neutral-dark: #1A1A1A;

  --background: var(--color-background-light);
  --foreground: var(--color-primary-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background-dark);
    --foreground: var(--color-neutral-light);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  min-width: 100vw;
}
